{% extends 'profile_screen/base.html' %}

{% load static %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Редактировать профиль</h1>
            <p>Личная информация</p>
            <form method="post" action="{% url 'update_user_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <div class="form-group">
                    <label for="inputFullName">Введите ФИО</label>
                    <input type="text" class="form-control" id="inputFullName" name="inputFullName"
                           placeholder="Фамилия Имя Отчество" value="{{ full_name }}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPhoneNumber">Введите номер телефона</label>
                        <input type="text" class="form-control" id="inputPhoneNumber" name="inputPhoneNumber"
                               placeholder="Введите номер телефона" value="{{ number }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail"
                               placeholder="Введите Email" value="{{ email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputClubAddress">Введите адрес клуба</label>
                    <select class="form-control" id="inputClubAddress" name="inputClubAddress">
                        <option value="ул. Рябинина, д. 19, г. Екатеринбург" {% if club_address == "ул. Рябинина, д. 19, г. Екатеринбург" %}selected{% endif %}>ул. Рябинина, д. 19, г. Екатеринбург</option>
                        <option value="ул. Мира, 47, корп. 4, г. Екатеринбург" {% if club_address == "ул. Мира, 47, корп. 4, г. Екатеринбург" %}selected{% endif %}>ул. Мира, 47, корп. 4, г. Екатеринбург</option>
                    </select>
                </div>
                <p class="additional-info-label">О себе</p>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputDescription">Описание</label>
                        <textarea class="form-control" id="inputDescription" name="inputDescription" rows="3">{{ description }}</textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAchievements">Опыт и достижения</label>
                        <textarea class="form-control" id="inputAchievements" name="inputAchievements" rows="3">{{ achievements }}</textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEducation">Образование</label>
                        <textarea class="form-control" id="inputEducation" name="inputEducation" rows="3">{{ education }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Сохранить изменения</button>
            </form>
        </div>
        <div class="col-md-6">
            <label for="inputImage" id="imageLabel" style="position: relative; display: inline-block;">
                <div style="position: absolute; top: 0; left: 0; width: 200px; height: 200px; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">
                    <img id="previewImage" src="{% if profile_image %}{{ profile_image.url }}{% else %}{% static 'images/profile_pic.png' %}{% endif %}" alt="Profile Image" class="profile-picture" style="width: 100%; height: 100%; object-fit: cover;">
                    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 48px; color: rgba(255, 255, 255, 0.8); cursor: pointer; display: flex; justify-content: center; align-items: center;">+</div>
                </div>
            </label>
            <input type="file" class="form-control-file" id="inputImage" name="profile_image" style="display: none;">
        </div>
    </div>
</div>

<style>
    .additional-info-label {
        margin-top: 40px; /* Отступ сверху */
        font-size: 20px; /* Увеличение размера текста */
    }
</style>

<script>
    function loadImage(event) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function() {
            var dataURL = reader.result;
            var img = document.getElementById('previewImage');
            img.src = dataURL;
        };

        reader.readAsDataURL(input.files[0]);
    }

    document.getElementById('imageLabel').addEventListener('click', function() {
        document.getElementById('inputImage').click();
    });

    document.getElementById('inputImage').addEventListener('change', loadImage);
</script>
{% endblock %}
