{% extends 'profile_screen/base.html' %}

{% load static %}

{% block title %}Мой профиль{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Имя человека -->
            <h2>{{ full_name }}</h2>
            <!-- Описание человека -->
            <h4 style="color: #B61A1A;">Описание:</h4>
            <p>{{ description }} </p>
            <!-- Образование -->
            <h4 style="color: #B61A1A;">Образование:</h4>
            <p>{{ education }}</p>
            <!-- Достижения -->
            <h4 style="color: #B61A1A;">Опыт и достижения:</h4>
            <p>{{ achievements }}</p>
        </div>
        <div class="col-md-6">
            {% if profile_image %}
                <img src="{{ profile_image.url }}" class="profile-picture" alt="{{ trainer.name }}">
            {% else %}
                <img src="{% static 'images/profile_pic.svg' %}" class="profile-picture" alt="{{ trainer.name }}">
            {% endif %}
        </div>
    </div>
</div>

<style>
    .profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover; /* Это свойство заставляет изображение заполнять заданные размеры */
}
</style>

{% endblock %}
